// solorVariables.scss

// Основные цвета


// Фоновые цвета
$background-color: #111111;

// Цвета для текста
$font-color: #EBEBEB;
// $link-color: #007bff;
// $hover-color: #0056b3;

// Цвета для фона
$body-bg: #ffffff;
$footer-bg: #f8f9fa;

// И так далее...